.Login {
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
}

.Login .other-prompt{
  display: flex;
  font-size: medium;
}

.Login .other-prompt button{
  border: none;
  background: none;
  font-size: medium;
  color: blue;
}

.Login .window{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Login .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Login .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Login Form{
  margin-right: 50px;
}